@media only screen and (max-device-height: 700px) {
    .main-hero.jumbotron {
        height: 100%;
    }
}

/*Imported from global styles*/


/* Global styles */

.img-responsive {
    min-height: 250px;
}

/* Event hero */

.event-hero {
    background-color: #FF009B;

}

/* Main hero */

.main-hero.jumbotron {
    background: #00CFCB;
}

.jumbotron .design-text {
    color: #A89C45;
    font-size: 3em;
}

.jumbotron .design-text-sm {
    color: #A89C45;
    font-size: 2.5em;
}

/* Nav */


/*.navbar-nav {
	width: 75%;
}

.navbar-nav li {
	width: 33%;
}

.active {
	width:100%;
}*/


/*.nav li {
	padding-left: 4em;
}*/


/* About */


/* join */

.schedule .jumbotron {
    background-color: #ECF0F1;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.schedule .container {
    max-width: 80%;
}

.about.jumbotron {
    background-color: #FFB400;
}

/* Frequently Asked Questions */

.faq.jumbotron {
    background-color: #00CFCB;
    text-align: center;
    color: #333333;
    padding-left: 50px;
    padding-right: 50px;
}

.faq a {
    color: #333333;
    font-weight: bold;
}

.faq-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.faq-question {
    font-weight: 600;
    color: #C74293;
    margin-top: 20px;
    text-align: left;
/*    text-shadow: 1px 1px rgba(0, 0, 0, .2);*/
}

.faq-answer {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
}


/* Footer */

.footer.jumbotron {
    background-color: #00CFCB;
}
