/* Freetail Colors */

/* Featured */
.featured {
  width: 100%;
  height: 100vh;
  background-color: #E45243;
  background-image: -webkit-linear-gradient( -60deg, #E45243 0%, #E45243 60%, #124E78 60%, #124E78 60%);
  background-image: linear-gradient( -60deg, #E45243 0%, #E45243 60%, #124E78 60%, #124E78 60%);
}

.featured-buttons {
  padding-top: 300px;
}

.action-button {
  background-color: #E45243;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  margin-top: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}

.action-button:hover {
  background-color: #e97468;
  text-decoration: none;
  color: #FFFFFF; 
}

.featured img {
  width: 50%;
  margin-top: 275px;
  margin-right: 60px; 
}

.featured-img p {
  font-size: 2em;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-left: 300px; 
}

.featured-img-sm {
  display: none;
  margin-top: 200px;
}

.featured-img-sm img {
  display:block;
  margin:auto;
}

.featured-img-sm p {
  font-size: 2em;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* Past Events */
.past-events {
  color: white;
  background-color: #E45243; 
  text-align: center;
}

.past-events img {
  width: 250px;
  margin: auto 0;
}

.past-events-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.past-events-items {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* About */
.about {
  background-color: #73A8B8; 
}

/* join */
.join {
  background-color: #EA863B;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF; 
}

.join .container {
  max-width: 80%; 
}

/* Code of Conduct */
.coc {
  background-color: #E45243;
  text-align: center;
  color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px; 
}

.coc a {
  color: #FFFFFF;
  font-weight: bold; 
}

.coc-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px; 
}

/* Footer */
.footer {
  background-color: #73A8B8; 
}

/* Smaller Screens */
@media (max-width: 1200px) {
  .featured {
    background-color: #124E78;
    background-image: none;
  }

  .featured-img {
    display: none;
  }

  .featured-img-sm {
    display: block;
  }
}

@media (max-width: 990px) {
  .featured-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .action-button {
    margin-top: 0px;
    margin: 0 auto;
    display: block;
  }

  .past-events-item {
    padding-bottom: 50px;
  }
}