/* Global styles */
@import url(https://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic);
* {
	font-family: 'Asap', sans-serif;
}

a {
    font-weight: bold;
}

.jumbotron {
	margin-bottom: 0px;
}

.sponsor-image {
    padding-bottom: 10px;
}


/* Event hero */
.event-hero {
	background: url('../img/cubes.png') repeat;
	background-color: #990600;
	color: #FFFFFF;
	margin-top: 50px;
	height: 100%;
	text-align: center;
}

.event-hero .hero-text {
	font-size: 20px;
	text-align: center;
	padding-top: 18px;
	margin-bottom: 10px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hero-text > a {
	color: #FFFFFF;
	font-weight: 800;
}

/* Main hero */
.main-hero.jumbotron {
	background: #FF554E;
	background-size: cover;
	height: 700px;
}

.jumbotron .hero-text {
	color: #468189;
	text-align: center;
	font-size: 2em;
	padding: 50px;
	margin-top: 10em;
	margin-left: 10em;
	margin-right: 10em;
	background-color: rgba(255, 255, 255, 0.9);
	display: table-cell;
}

.invisible {
	margin-top: 21em;
}

/* Nav */

/*.navbar-nav {
	width: 75%;
}

.navbar-nav li {
	width: 33%;
}

.active {
	width:100%;
}*/
/*.nav li {
	padding-left: 4em;
}*/
/* About */

/* join */
.join.jumbotron {
	background-color: #ECF0F1;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.join .container {
	max-width: 80%;
}

.about.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.about-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

.about-items {
	margin-top: 20px;
}

/* Contact */
.contact.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.contact-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

/* Partners */
.partners.jumbotron {
	background-color: #ECF0F1;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.partners a{
    color: #333;
}

.partners-title {
	font-size: 48px;
}

.partner-logos {
	margin-top: 50px;
}

#partners-contact {
	margin-top: 50px;
}

/* Code of Conduct */
.coc.jumbotron {
	background-color: #FF554E;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.coc a {
    color: #FFFFFF;
}

.coc-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

/* Footer */
.footer.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 12px;
}

.footer-love {
	text-transform: uppercase;
}

.footer-links a {
    color: #FFFFFF;
}

/* Smaller Screens */
@media (max-device-width: 480px) {
	.event-hero .hero-text {
		font-size: 16px;
	}

	.about-title {
		font-size: 36px;
	}

	.contact-title {
		font-size: 36px;
	}

	.coc-title {
		font-size: 32px;
	}
}
