/* Global styles */
@import url(https://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic);
* {
	font-family: 'Asap', sans-serif;
}

.jumbotron {
	margin-bottom: 0px;
}

.sponsor-image {
    padding-bottom: 10px;
}

/* Navbar */
.navbar-default {
  font-size: 20px;
}

.navbar-nav {
	width: 100%;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

/* Main hero */
.main-hero.jumbotron {
	background: #FF554E;
	background-size: cover;
	padding-top: 200px;
}

.jumbotron .hero-text {
	color: #468189;
	text-align: center;
	font-size: 2em;
	padding: 50px;
	margin-top: 10em;
	margin-left: 10em;
	margin-right: 10em;
	background-color: rgba(255, 255, 255, 0.9);
	display: table-cell;
}

.invisible {
	margin-top: 21em;
}

/* Join */
.join.jumbotron {
	background-color: #ECF0F1;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.join .container {
	max-width: 80%;
}

/* About */
.about.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.about-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

.about-items {
	margin-top: 20px;
}

/* Contact */
.contact.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.contact-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

/* Partners */
.partners.jumbotron {
	background-color: #FF554E;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
    color: #FFFFFF;
}

.partners a{
    color: #FFFFFF;
    font-weight: bold;
}

.partners-title {
	font-size: 48px;
}

.partner-logos {
	margin-top: 50px;
}

#partners-contact {
	margin-top: 50px;
}

/* Code of Conduct */
.coc.jumbotron {
	background-color: #ECF0F1;
	text-align: center;
	color: #333333;
	padding-left: 50px;
	padding-right: 50px;
}

.coc a {
    color: #333333;
    font-weight: bold;
}

.coc-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

/* Footer */
.footer.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 12px;
}

.footer-love {
	text-transform: uppercase;
}

.footer-links a {
    color: #FFFFFF;
}

/* Smaller Screens */
@media (max-device-width: 480px) {
	.event-hero .hero-text {
		font-size: 16px;
	}

	.about-title {
		font-size: 36px;
	}

	.contact-title {
		font-size: 36px;
	}

	.coc-title {
		font-size: 32px;
	}
}
