/* Event hero */
.event-hero {
	background-color: #990600;
}

/* Main hero */
.main-hero.jumbotron {
	background: #FF554E;
	height: 700px;
}

/* Nav */

/*.navbar-nav {
	width: 75%;
}

.navbar-nav li {
	width: 33%;
}

.active {
	width:100%;
}*/
/*.nav li {
	padding-left: 4em;
}*/
/* About */

/* join */
.join.jumbotron {
	background-color: #FF554E;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
    color: #FFFFFF;
}

.join .container {
	max-width: 80%;
}

.about.jumbotron {
	background-color: #1ABC9C;
}

/* Contact */
.contact.jumbotron {
	background-color: #1ABC9C;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.contact-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}


/* Code of Conduct */
.coc.jumbotron {
	background-color: #FF554E;
	text-align: center;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
}

.coc a {
    color: #FFFFFF;
    font-weight: bold;
}

.coc-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

/* Footer */
.footer.jumbotron {
	background-color: #1ABC9C;
}
