/* Freetail Colors */
$freetailBlueHighlight  : #73A8B8;
$freetailRed            : #E45243;
$freetailOrange         : #EA863B;
$freetailOrangeHighlight: #F9A027;
$freetailBlue           : #124E78;
$gitChallengeKhaki      : #E0D1B8;

html, body {
  height: 100%;
}

/* Main hero */
.main-hero {
	background: $freetailBlueHighlight;
  height: 100%;
}

.generated-row {
  padding-top: 1%;
  font-size: 125%;
}

.table {
  border-color: black;
}

caption {
  font-size: 150%;
  color: black;
}

.table th, .table td {
     border-top: none !important;
 }

/* Nav */

$bgDefault      : #2F2922;
$bgHighlight    : #4a4036;
$colDefault     : #ecf0f1;
$colHighlight   : #E5CCA8;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/*.navbar-nav {
  width: 75%;
}

.navbar-nav li {
  width: 33%;
}

.active {
  width:100%;
}*/
/*.nav li {
  padding-left: 4em;
}*/