html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #23282b;
  color: #fbfffe; }

p {
  font-family: "Avenir Medium";
  font-size: 1.2em; }

.container {
  margin: 5%;
  display: flex; }

.navbar {
  display: flex;
  max-height: 100px;
  height: 8vh;
  margin-left: 2%;
  margin-right: 2%; }

.logo {
  display: block;
  flex: 30%; }

.options {
  display: flex;
  flex: 70%;
  font-family: "Avenir Light";
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center; }
  .options a {
    text-decoration: none;
    color: #fbfffe; }

#splash {
  background: #471bae;
  background: -webkit-linear-gradient(top left, #471bae, #db935f);
  background: -moz-linear-gradient(top left, #471bae, #db935f);
  background: -o-linear-gradient(top left, #471bae, #db935f);
  background: linear-gradient(to bottom right, #471bae, #db935f);
  padding-bottom: 10%;
  height: 100vh; }

#about-container {
  display: flex;
  padding: 15vh 5%;
  max-width: 1500px; }

#aboutDescription {
  flex: 40%;
  margin-right: 2%;
  text-align: justify; }

#familyPhoto {
  flex: 60%;
  margin-left: 2%; }

#hackathons {
  background-image: url("img/assets/transparentBatSparkleBackground.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center; }

#hackathons-container {
  padding: 5%; }

#hackathon-title {
  width: 38.4%; }

#comingSoon {
  height: 15vh;
  max-height: 150px;
  margin-top: 15vh;
  margin-bottom: 8vh; }
  #comingSoon img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.yearRow {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: space-between;
  height: 400px; }
  .yearRow div {
    width: 550px; }
    .yearRow div h4 {
      font-family: "Avenir Medium";
      font-weight: bolder;
      font-size: 1.2em;
      margin: 16px; }
    .yearRow div img {
      display: block; }
      .yearRow div img:hover {
        transform: scale(1.1); }

.leftHackathon {
  margin-right: 5%; }

.rightHackathon {
  margin-left: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column; }

#supersection {
  background: #471bae;
  background: -webkit-linear-gradient(top left, #471bae, #db935f);
  background: -moz-linear-gradient(top left, #471bae, #db935f);
  background: -o-linear-gradient(top left, #471bae, #db935f);
  background: linear-gradient(to bottom right, #471bae, #db935f);
  padding-bottom: 50vh; }

.infoSlide {
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  max-width: 1200px; }
  .infoSlide img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#contact {
  border-bottom: 1px solid #fbfffe; }

#contactInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  background-color: #ae9ccc;
  text-align: center;
  padding: 3%;
  margin-top: 3%;
  color: #23282b; }

#sponsorContainer {
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
  max-width: 1200px;
  padding-bottom: 30vh; }

#laptopLeft {
  width: 400px; }
  #laptopLeft img {
    transform: translateY(-100px); }

#sponsorInformation {
  width: 350px;
  text-align: center; }

#laptopRight {
  width: 400px;
  z-index: 1; }
  #laptopRight img {
    width: 150%;
    transform: translate(-200px, 30px);
    z-index: 1; }

#sponsorButton {
  width: 100%;
  height: 25%;
  max-height: 100px;
  background-image: url("img/assets/SponsorUsButton.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  border: none;
  border-radius: 30%;
  z-index: 100;
  position: relative;
  outline: none; }

#sponsorButton:hover {
  background-image: url("img/assets/SponsorUsButton(HOVER).png");
  z-index: 100; }

#leaders {
  margin-top: 64px; }

.row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px; }

.middleRow {
  justify-content: space-between; }

.person {
  width: 300px;
  text-align: center; }
  .person img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; }
  .person p {
    margin: 10px;
    font-family: "Avenir Light"; }
