$color-stops: #471bae, #db935f;
$black: #23282b;
$white: #fbfffe;
$base-font: "Avenir";
$marginSize: 5%;

@mixin bg-gradient() {
	background: nth($color-stops, 1); // fallback
	background: -webkit-linear-gradient(top left, $color-stops);
  	background: -moz-linear-gradient(top left, $color-stops);
  	background: -o-linear-gradient(top left, $color-stops);
  	background: linear-gradient(to bottom right, $color-stops);
}

@mixin centered-image() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: $black;
	color: $white;
}

p {
	font-family: $base-font + " Medium";
	font-size: 1.2em;
}

.container {
	margin: $marginSize;
	display: flex;
}

// NAV BAR

.navbar {
	display: flex;
	max-height: 100px;
	height: 8vh;
	margin-left: 2%;
	margin-right: 2%;
}

.logo {
	display: block;
	flex: 30%;
}

.options {
	display: flex;
	flex: 70%;
	font-family: $base-font + " Light";
	font-size: 1.2em;
	justify-content: space-around;
	align-items: center;
	a {
		text-decoration: none;
		color: $white;
	}
}

// TITLE SECTION

#splash {
	@include bg-gradient();
	padding-bottom: 10%;
	height: 100vh;
}

// ABOUT SECTION
$descriptionSize : 40%;
$columnMargin : 2%;

#about-container {
	display: flex;
	padding: 15vh 5%;
	max-width: 1500px;
}

#aboutDescription {
	flex: $descriptionSize;
	margin-right: $columnMargin;
	text-align: justify;
}

#familyPhoto {
	flex: 100% - $descriptionSize;
	margin-left: $columnMargin;
}

// HACKATHONS SECTION
$spacingMargin : 5%;
$containerSize: 90%;

#hackathons {
	background-image: url('img/assets/transparentBatSparkleBackground.png');
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
}

#hackathons-container {
	padding: $marginSize;
}

#hackathon-title {
	width: (100% - (2 * $columnMargin)) * ($descriptionSize / 100%);
}

#comingSoon {
	height: 15vh;
	max-height: 150px;
	margin-top: 15vh;
	margin-bottom: 8vh;
	img {
		@include centered-image();
	}

}

.yearRow {
	display: flex;
	margin: auto;
	max-width: 1200px;
	justify-content: space-between;
	height: 400px;
	div {
		width: 550px;
		h4 {
			font-family: $base-font + " Medium";
			font-weight: bolder;
			font-size: 1.2em;
			margin: 16px;
		}
		img {
			display: block;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.leftHackathon {
	margin-right: $spacingMargin;
}

.rightHackathon {
	margin-left: $spacingMargin;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}

// CONTACT SECTION
#supersection {
	@include bg-gradient();
	padding-bottom: 50vh;
}

.infoSlide {
	margin: auto;
	padding-top: 15vh;
	padding-bottom: 15vh;
	max-width: 1200px;
	img {
		@include centered-image();
	}
}


#contact {
	border-bottom: 1px solid $white;
}

#contactInfo {
	@include centered-image();
	width: 60%;
	max-width: 500px;
	background-color: #ae9ccc;
	text-align: center;
	padding: 3%;
	margin-top: 3%;
	color: $black;
}

// SPONSOR SECTION
#sponsorContainer {
	display: flex;
	justify-content: space-between;
	margin: 10vh auto;
	max-width: 1200px;
	padding-bottom: 30vh;
}

#laptopLeft {
	width: 400px;
	img {
		transform: translateY(-100px);
	}
}

#sponsorInformation {
	width: 350px;
	text-align: center;
}

#laptopRight {
	width: 400px;
	z-index: 1;
	img {
		width: 150%;
		transform: translate(-200px, 30px);
		z-index: 1;
	}
}

#sponsorButton {
	width: 100%;
	height: 25%;
	max-height: 100px;
	background-image: url("img/assets/SponsorUsButton.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	border: none;
	border-radius: 30%;
	z-index: 100;
	position: relative;
	outline: none;
}

#sponsorButton:hover {
	background-image: url("img/assets/SponsorUsButton\(HOVER\).png");
	z-index: 100;
}

// FAMILY SECTION
#leaders {
	margin-top: 64px;
}

.row {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 20px;
}
.middleRow {
	justify-content: space-between;
}

.person {
	width: 300px;
	text-align: center;
	img {
		@include centered-image();
		border-radius: 50%;
	}
	p {
		margin: 10px;
		font-family: $base-font + " Light";
	}
}