$color-stops: #471bae, #db935f;
$black: #23282b;
$white: #fbfffe;
$navbarcolor: #411ba3;
$base-font: "Avenir";
$marginSize: 5%;

$largebp : 1070px;
$mediumbp: 870px;
$smallbp: 670px;

@mixin bg-gradient() {
	background: nth($color-stops, 1); // fallback
	background: -webkit-linear-gradient(top left, $color-stops);
  	background: -moz-linear-gradient(top left, $color-stops);
  	background: -o-linear-gradient(top left, $color-stops);
  	background: linear-gradient(to bottom right, $color-stops);
}

@mixin centered-image() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin breakpoint($media) {
	@if $media == xlarge {
		@media only screen and (min-width: $largebp + 1) { @content; }
	}
	@else if $media == large {
		@media only screen and (max-width: $largebp) { @content; }
	}
	@else if $media == medium {
		@media only screen and (max-width: $mediumbp) {@content; }
	}
	@else if $media == small {
		@media only screen and (max-width: $smallbp) {@content; }
	}
}

@font-face {
	font-family: Avenir;
	src: url(./fonts/AvenirLTStd-Medium.otf);
}

@font-face {
	font-family: Avenir Light;
	src: url(./fonts/AvenirLTStd-Book.otf);
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: $black;
	color: $white;
}

p {
	font-family: Avenir;
	@include breakpoint(xlarge) {font-size: 1.2em;}
	@include breakpoint(small) {font-size: 0.9em;}
	font-size: 1.0em;
}

.smallText {
	@include breakpoint(xlarge) {font-size: 1em;}
	@include breakpoint(small) {font-size: 0.8em;}
}

.container {
	margin: $marginSize;
	display: flex;
}

// NAV BAR

.navbar {
	display: flex;
	// transition:500ms ease;
	height: 64px;
	padding: 1% 0;
	@include breakpoint(large) { font-size: 14px;}
	@include breakpoint(medium) { font-size: 12px;}
	@include breakpoint(small) {
		height: 32px;
		flex-direction: column;
		background-color: $navbarcolor;
	}
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar.scrolled {
	background-color: $navbarcolor;
}

.logo {
	display: block;
	height: 100%;
	margin-left: 2%;
	@include breakpoint(medium) {height: 80%;}
	@include breakpoint(small) {height: 32px};
}

.options {
	display: flex;
	margin-left: auto;
	margin-right: 2%;
	font-family: Avenir Light;
	font-size: 1.2em;
	justify-content: space-around;
	align-items: center;
	@include breakpoint(small) {
		width: 100%;
		display: none;
		padding-top: 8px;
		background-color: rgba($color: $navbarcolor, $alpha: 0.8);
		a {
			width: 100%;
			text-align: center;;
			border-bottom: 1px solid $white;
			padding: 8px 0;
		}
	}
	z-index: 100;
	a {
		text-decoration: none;
		color: $white;
		margin: 0 16px;
		@include breakpoint(medium) {margin: 0 8px;}
	}
}

.toggle {
	display: none;
	@include breakpoint(small) {
		display: block;
		align-self: flex-end;
		cursor: pointer;
		position: absolute;
		font-size: 28px;
		right: 2%;
	}
}

.options-show {
	@include breakpoint(small) {
		display: flex;
		flex-direction: column;}
}

.navbar-toggled {
	@include breakpoint(small) {
		height: 240px;
	}
}

// TITLE SECTION

#splash {
	@include bg-gradient();
	padding-bottom: 10%;
	height: 100vh;
	@include breakpoint(large) {height: auto;}
	padding-top: 64px;
}

// ABOUT SECTION
$descriptionSize : 40%;
$columnMargin : 2%;

#about-container {
	display: flex;
	padding: 15vh 5%;
	@include breakpoint(medium) {
		display: block;
		padding: 15vh 10%;
	}
	max-width: 1500px;
	margin: auto;
}

#aboutDescription {
	flex: $descriptionSize;
	margin-right: $columnMargin;
	text-align: justify;
	img {
		@include breakpoint(medium) {
			width: 60%;
			display: block;
			margin: auto;
		}
	}
}

#familyPhoto {
	flex: 100% - $descriptionSize;
	margin-left: $columnMargin;
}

// HACKATHONS SECTION
$spacingMargin : 5%;
$containerSize: 90%;

#hackathons {
	background-image: url('img/assets/transparentBatSparkleBackground.png');
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	max-width: 1500px;
	margin: auto;
}

#hackathons-container {
	padding: 15vh 5%;
}

#hackathon-title {
	width: (100% - (2 * $columnMargin)) * ($descriptionSize / 100%);
	@include breakpoint(medium) {width: 100%;}
	img {
		@include breakpoint(medium) {
			width: 60%;
			display: block;
			margin: auto;
		}
	}
}

#comingSoon {
	height: 15vh;
	max-height: 150px;
	margin-top: 15vh;
	margin-bottom: 8vh;
	@include breakpoint(medium) {
		max-height: 80px;
		margin-top: 8vh;}
	@include breakpoint(small) {
		max-height: 60px;
		margin: 6vh 0;}
	img {
		@include centered-image();
	}

}

.yearRow {
	display: flex;
	margin: auto;
	max-width: 1200px;
	justify-content: space-between;
	height: 400px;
	@include breakpoint(large) { height: 300px;}
	@include breakpoint(medium) { height: 200px;}
	@include breakpoint(small) {
		flex-direction: column;
		height: auto;
		padding-bottom: 2vh;}
	div {
		width: 550px;
		@include breakpoint(small) {
			width: 80%;
			display: flex;
			flex-direction: column;
			margin: auto;
			align-items: center;
			justify-content: center;}
		h4 {
			font-family: Avenir;
			font-weight: bolder;
			margin: 16px;
		}
		img {
			display: block;
			&:hover {
				transform: scale(1.1);
			}
			@include breakpoint(small) {
				height: auto;
				transform: none;
			}
		}
	}
}

.leftHackathon {
	margin-right: $spacingMargin;
	@include breakpoint(small) {margin-right: 0px;}
}

.rightHackathon {
	margin-left: $spacingMargin;
	@include breakpoint(small) {
		margin-left: 0px;}
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}

// CONTACT SECTION
#supersection {
	@include bg-gradient();
	padding-bottom: 25vh;
	@include breakpoint(medium) {padding-bottom: 20vh;}
}

.infoSlide {
	margin: auto;
	padding: 15vh 0;
	max-width: 1200px;
	@include breakpoint(small) {
		max-width: 300px;
		padding: 8vh 0;
	}
	img {
		@include centered-image();
	}
}


#contact {
	border-bottom: 1px solid $white;
	img {
		height: 70px;
	}
}

#contactInfo {
	@include centered-image();
	width: 60%;
	@include breakpoint(small) {width: 80%;}
	max-width: 500px;
	background-color: #ae9ccc;
	text-align: center;
	padding: 3%;
	margin-top: 3%;
	color: $black;
}

// SPONSOR SECTION
#sponsor {
	@include breakpoint(small) {
		img {
			height: 80px;
		}
	}
}

#sponsorContainer {
	display: flex;
	justify-content: space-between;
	margin: 10vh auto;
	max-width: 1200px;
	padding-bottom: 20vh;
	@include breakpoint(small) {padding-bottom: 10vh;}
}

#laptopLeft {
	width: 400px;
	@include breakpoint(large) {width: 350px;}
	@include breakpoint(medium) {display: none;}
	img {
		transform: translateY(-100px);
	}
}

#sponsorInformation {
	width: 350px;
	@include breakpoint(medium) {margin: auto};
	text-align: center;
}

#laptopRight {
	width: 400px;
	@include breakpoint(large) {width: 350px;}
	@include breakpoint(medium) {display: none;}
	z-index: 1;
	img {
		width: 150%;
		transform: translate(-200px, 30px);
		@include breakpoint(large) {
			width: 100%;
			transform: translate(-50px, 80px);
		}
		z-index: 1;
	}
}

#sponsorButtonLink {
	display: block;
	width: 100%;
	height: 100px;
}

#sponsorButton {
	width: 100%;
	height: 100%;
	background-image: url("img/assets/SponsorUsButton.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 30%;
	z-index: 99;
	position: relative;
	outline: none;
}

#sponsorButton:hover {
	background-image: url("img/assets/SponsorUsButton\(HOVER\).png");
	z-index: 99;
}

// FAMILY SECTION
#family {
	img {
		@include breakpoint(medium) {width: 90%;}
		@include breakpoint(small) {width: 90%;}
	}
}
.desktop {
	@include breakpoint(small) {display: none !important;}
}

.mobile {
	display: none !important;
	@include breakpoint(small) {display: flex;}
}

#leaders {
	margin: 0 5%;
	margin-top: 64px;
	max-width: 1500px;
}

.row {
	display: flex; 
	justify-content: space-evenly;
	padding-bottom: 20px;
	@include breakpoint(medium) {
		display: block;
		padding: 0px;
	}

}
.middleRow {
	justify-content: space-between;
}

.person {
	width: 300px;
	@include breakpoint(large) {width: 225px;}
	@include breakpoint(medium) {margin: 50px auto;}
	text-align: center;
	img {
		@include centered-image();
		border-radius: 50%;
	}
	p {
		margin: 10px;
		font-family: Avenir Light;
		@include breakpoint(medium) {font-size: 1.2em;}
		@include breakpoint(small) {font-size: 1.0em;}

	}
}