@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: Avenir Light;
  src: url(./fonts/AvenirLTStd-Book.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #23282b;
  color: #fbfffe;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  color: #fbfffe;
  font-family: Avenir;
  font-size: 1em;
}
@media only screen and (min-width: 1071px) {
  p {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 670px) {
  p {
    font-size: 0.9em;
  }
}

#apply {
  text-align: center;
  font-size: x-large;
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (min-width: 1071px) {
  .smallText {
    font-size: 1em;
  }
}

@media only screen and (max-width: 670px) {
  .smallText {
    font-size: 0.8em;
  }
}

.teamName {
  padding-top: 50px;
  font-weight: bolder;
}

.heading {
  font-size: 1.5em;
  text-align: center;
}

hr {
  margin: 20px 0 40px 0;
}

a {
  color: #fbfffe;
  padding: 2px;
}
a:hover {
  color: #411ba3;
}

.nohover {
  pointer-events: none;
}

.container {
  margin: 5%;
  display: flex;
}

.navbar {
  align-items: center;
  display: flex;
  height: 32px;
  padding: 1% 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1070px) {
  .navbar {
    font-size: 14px;
  }
}
@media only screen and (max-width: 870px) {
  .navbar {
    font-size: 12px;
  }
}
@media only screen and (max-width: 670px) {
  .navbar {
    height: 32px;
    flex-direction: column;
  }
}

.navbar.scrolled {
  background-color: #411ba3;
}

.logo {
  display: block;
  height: 100%;
  margin-left: 2%;
}
@media only screen and (max-width: 870px) {
  .logo {
    height: 80%;
  }
}
@media only screen and (max-width: 670px) {
  .logo {
    height: 32px;
  }
}

.options {
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  font-family: Avenir Light;
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  margin-top: 0.2%;
}

@media only screen and (max-width: 670px) {
  .options {
    width: 100%;
    display: none;
    background-color: rgba(65, 27, 163, 0.8);
    padding-top: 4px;
  }
  .options a {
    width: 100%;
    text-align: center;
    border-top: 1px solid #fbfffe;
    padding: 8px 0;
  }
  .options a:last-child {
    border-bottom: 1px solid;
  }
}
.options a {
  text-decoration: none;
  color: #fbfffe;
  margin: 0 16px;
}
@media only screen and (max-width: 870px) {
  .options a {
    margin: 0 8px;
  }
}

.toggle {
  display: none;
}
@media only screen and (max-width: 670px) {
  .toggle {
    display: block;
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    font-size: 28px;
    right: 2%;
  }
}

@media only screen and (max-width: 670px) {
  .options-show {
    display: flex;
    flex-direction: column;
  }
}

.navbar-toggled {
  background-color: #411ba3 !important;
}
@media only screen and (max-width: 670px) {
  .navbar-toggled {
    height: 240px;
  }
}

#splash {
  background: #471bae;
  background: -webkit-linear-gradient(top left, #471bae, #db935f);
  background: -moz-linear-gradient(top left, #471bae, #db935f);
  background: -o-linear-gradient(top left, #471bae, #db935f);
  background: linear-gradient(to bottom right, #471bae, #db935f);
  padding-bottom: 10%;
  height: 100vh;
  padding-top: 64px;
}
@media only screen and (max-width: 1070px) {
  #splash {
    height: auto;
  }
}

#title {
  padding-top: 1vh;
}
@media only screen and (max-width: 1070px) {
  #title {
    padding-top: 2vh;
  }
}
@media only screen and (max-width: 670px) {
  #title {
    padding-top: 2vh;
  }
}

#learnMore {
  height: 100px;
  width: 100%;
}
@media only screen and (max-width: 670px) {
  #learnMore {
    height: 60px;
    margin-bottom: 20px;
  }
}
#learnMore button {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

#about-container {
  display: flex;
  padding: 15vh 5%;
  max-width: 1500px;
  margin: auto;
}
@media only screen and (max-width: 870px) {
  #about-container {
    display: block;
    padding: 15vh 10%;
  }
}

#aboutDescription {
  flex: 40%;
  margin-right: 2%;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 870px) {
  #aboutDescription img {
    width: 60%;
    display: block;
    margin: auto;
  }
}

#skyline {
  margin-top: auto;
}

#familyPhoto {
  flex: 60%;
  margin-left: 2%;
}

#hacktx {
  position: relative;
}

#hacktxbutton {
  position: absolute;
  width: 20vw;
  height: 9.52vw;
  left: 25%;
  top: 72%;
  background-image: url("img/assets/HackTxWebsiteButton.png");
  background-size: cover;
}
#hacktxbutton:hover {
  background-image: url("img/assets/HackTxWebsiteButtonHover.png");
  cursor: pointer;
}

#recruiting {
  position: relative;
}

#infosessionbutton {
  position: absolute;
  width: 33vw;
  height: 11vw;
  left: 4%;
  top: 34%;
  background-image: url("img/assets/sessionButton.png");
  background-size: cover;
}
#infosessionbutton:hover {
  background-image: url("img/assets/sessionButtonHover.png");
  cursor: pointer;
}

#recruitingbutton {
  position: absolute;
  width: 33vw;
  height: 11vw;
  left: 4%;
  top: 71%;
  background-image: url("img/assets/joinButton.png");
  background-size: cover;
}
#recruitingbutton:hover {
  background-image: url("img/assets/joinButtonHover.png");
  cursor: pointer;
}

#changeathon {
  position: relative;
  display: flex;
}

#changeathonbutton {
  position: absolute;
  width: 33vw;
  height: 11vw;
  left: 33%;
  top: 55%;
  background-image: url("img/assets/visitSite.png");
  background-size: cover;
}
#changeathonbutton:hover {
  background-image: url("img/assets/visitSiteHover.png");
  cursor: pointer;
}

#uhsg {
  position: relative;
  display: flex;
}

#uhsgbutton {
  position: absolute;
  width: 50vw;
  height: 9.25vw;
  left: 25%;
  top: 60%;
  background-image: url("img/assets/uhsgButton.png");
  background-size: cover;
}
#uhsgbutton:hover {
  background-image: url("img/assets/uhsgButtonHover.png");
  cursor: pointer;
}

#hackathons {
  background-image: url("img/assets/transparentBatSparkleBackground.gif");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  max-width: 1500px;
  margin: auto;
}

#hackathons-container {
  padding: 15vh 5%;
}

#hackathon-title {
  width: 38.4%;
}
@media only screen and (max-width: 870px) {
  #hackathon-title {
    width: 100%;
  }
}
@media only screen and (max-width: 870px) {
  #hackathon-title img {
    width: 60%;
    display: block;
    margin: auto;
  }
}

#comingSoon {
  height: 15vh;
  max-height: 150px;
  margin-top: 15vh;
  margin-bottom: 8vh;
}
@media only screen and (max-width: 870px) {
  #comingSoon {
    max-height: 80px;
    margin-top: 8vh;
  }
}
@media only screen and (max-width: 670px) {
  #comingSoon {
    max-height: 60px;
    margin: 6vh 0;
  }
}
#comingSoon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yearRow {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: space-evenly;
  height: auto;
}
@media only screen and (max-width: 1070px) {
  .yearRow {
    height: 300px;
  }
}
@media only screen and (max-width: 870px) {
  .yearRow {
    height: 200px;
  }
}
@media only screen and (max-width: 670px) {
  .yearRow {
    height: auto;
    padding-bottom: 2vh;
  }
}
.yearRow div {
  width: 550px;
}
@media only screen and (max-width: 670px) {
  .yearRow div {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}
.yearRow div h4 {
  font-family: Avenir;
  font-weight: bolder;
}
.yearRow div img {
  display: block;
}
.yearRow div img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 670px) {
  .yearRow div img {
    height: auto;
    transform: none;
  }
}

.leftHackathon {
  margin-right: 5%;
}
@media only screen and (max-width: 670px) {
  .leftHackathon {
    margin-right: 0px;
  }
}

.rightHackathon {
  margin-left: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
@media only screen and (max-width: 670px) {
  .rightHackathon {
    margin-left: 0px;
  }
}

.hackathon {
  margin-left: 1%;
  margin-right: 1%;
  max-width: 35vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#supersection {
  background: #471bae;
  background: -webkit-linear-gradient(top left, #471bae, #db935f);
  background: -moz-linear-gradient(top left, #471bae, #db935f);
  background: -o-linear-gradient(top left, #471bae, #db935f);
  background: linear-gradient(to bottom right, #471bae, #db935f);
  padding-bottom: 20vh;
}
@media only screen and (max-width: 870px) {
  #supersection {
    padding-bottom: 20vh;
  }
}

.infoSlide {
  margin: auto;
  padding: 15vh 0;
  max-width: 1200px;
}
@media only screen and (max-width: 670px) {
  .infoSlide {
    max-width: 300px;
    padding: 8vh 0;
  }
}
.infoSlide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact img {
  height: 70px;
}

#contactInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  text-align: center;
  padding: 3%;
  margin-top: 3%;
  color: #23282b;
  border: 2px solid #fbfffe;
}
@media only screen and (max-width: 670px) {
  #contactInfo {
    width: 80%;
  }
}

@media only screen and (max-width: 670px) {
  #sponsor img {
    height: 80px;
  }
}

#sponsorContainer {
  display: flex;
  justify-content: space-between;
  margin: 5vh auto;
  max-width: 1200px;
  padding-bottom: 20vh;
}
@media only screen and (max-width: 670px) {
  #sponsorContainer {
    padding-bottom: 10vh;
  }
}

#laptopLeft {
  width: 400px;
}
@media only screen and (max-width: 1070px) {
  #laptopLeft {
    width: 350px;
  }
}
@media only screen and (max-width: 870px) {
  #laptopLeft {
    display: none;
  }
}
#laptopLeft img {
  transform: translateY(-100px);
}

#sponsorInformation {
  text-align: center;
}
@media only screen and (max-width: 870px) {
  #sponsorInformation {
    margin: auto;
  }
}

#laptopRight {
  width: 400px;
  z-index: 1;
}
@media only screen and (max-width: 1070px) {
  #laptopRight {
    width: 350px;
  }
}
@media only screen and (max-width: 870px) {
  #laptopRight {
    display: none;
  }
}
#laptopRight img {
  width: 150%;
  transform: translate(-200px, 30px);
  z-index: 1;
}
@media only screen and (max-width: 1070px) {
  #laptopRight img {
    width: 100%;
    transform: translate(-50px, 80px);
  }
}

#sponsorButtonLink {
  display: block;
  width: 100%;
  height: 100px;
}

button {
  cursor: pointer;
}

#sponsorButton {
  width: 25vw;
  height: 25vw;
  background-image: url("img/assets/SponsorUsButton.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 30%;
  z-index: 99;
  position: relative;
  outline: none;
}
@media only screen and (max-width: 670px) {
  #sponsorButton {
    width: 100%;
    height: 100%;
  }
}

#sponsorButton:hover {
  background-image: url("img/assets/SponsorUsButton(HOVER).png");
  z-index: 99;
}

#family {
  background-image: url("img/assets/batCircleTransparent.png");
  background-size: 110%;
  background-repeat: repeat;
  background-position: center;
}
@media only screen and (max-width: 870px) {
  #family img {
    width: 90%;
  }
}
@media only screen and (max-width: 670px) {
  #family img {
    width: 90%;
  }
}

@media only screen and (max-width: 670px) {
  .desktop {
    display: none !important;
  }
}
.mobile {
  display: none !important;
}

@media only screen and (max-width: 670px) {
  .mobile {
    display: flex !important;
  }
}

#leaders {
  margin: 0 5%;
  margin-top: 64px;
  max-width: 1500px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
@media only screen and (max-width: 870px) {
  .row {
    display: block;
    padding: 0px;
  }
}

.person {
  width: 300px;
  text-align: center;
}
@media only screen and (max-width: 1070px) {
  .person {
    width: 225px;
  }
}
@media only screen and (max-width: 870px) {
  .person {
    margin: 0px auto;
  }
}
.person img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.person p {
  margin: 10px;
  font-family: Avenir Light;
}
@media only screen and (max-width: 870px) {
  .person p {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 670px) {
  .person p {
    font-size: 1em;
  }
}

/* Alumni Page */
/* For desktop */
.alumni-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.alumni-card {
  width: 200px;
  flex: 0 0 calc(30% - 20px);
  max-width: 200px;
  background: #db935fb8;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: large;
  font-family: Avenir;
}

/* For mobile */
@media (max-width: 768px) {
  .alumni-container {
    flex-direction: column;
    align-items: center;
  }

  .alumni-card {
    flex: 1 0 100%;
    max-width: calc(100% - 40px);
    margin-bottom: 20px;
  }
}

.alumni-card > p {
  text-align: left;
  font-size: small;
}

.filter-btn {
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
}

.filter-btn:hover {
  background-color: #ccc;
}

.filter-btn.active {
  background-color: #352f2f5b;
  color: #fff;
}

#resetFilters {
  background-color: #421ba3bf;
  color: #fff;
}

#resetFilters:hover {
  background-color: #411ba3;
}

.filters {
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
