body {
    background-color: #1B181B;
    font-family: 'Roboto Mono', monospace;
}

h1, h2 {
    color: antiquewhite;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

.container-fluid {
    margin-top: 40px;
}

.carousel-img {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-filter: contrast(98%);
    filter: contrast(98%);
    opacity: 0.95;
}

#freetail-logo {
    max-width: 15%;
    margin-bottom: 50px;
}

/* ----------------------------------------------- */

/* HackTogether Modal/Carousel */
#hack-together-inner-carousel > .carousel-item {
    height: 80vh;
}

#hack-together-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

/* HackTX 2018 Modal/Carousel */
#hack-tx-2018-inner-carousel > .carousel-item {
    height: 90vh;
}

#hack-tx-2018-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

/* HackTogether Modal/Carousel */
#hack-together-inner-carousel > .carousel-item {
    height: 80vh;
}

#hack-together-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

/* Wholesomehacks Modal/Carousel */
#wholesomehacks-inner-carousel > .carousel-item {
    height: 85vh;
}

#wholesomehacks-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

/* HackTX 2015 Modal/Carousel */
#hack-tx-2015-inner-carousel > .carousel-item {
    height: 100vh;
}

#hack-tx-2015-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

/* Music Hacks Modal/Carousel */
#music-hacks-inner-carousel > .carousel-item {
    height: 80vh;
}

#music-hacks-inner-carousel > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

/* ----------------------------------------------- */

.main-carousel-controller {
    left: auto;
    right: auto;
}
/* ----------------------------------------------- */

/* Modals */
.modal-header {
    border-bottom: none;
}

.modal-content {
    background-color: black;
    color: white;
}

.modal-body img {
    margin: 20px auto;
}

/* ----------------------------------------------- */

/* Styling to fill up remaining container and position 'Creative Profiles text + down arrow'*/
#outer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#remaining-container {
    width: 100%;
    text-align: center;
}

#outer #remaining-container {
    flex: 1 1 auto;
    height: 100%;
}

#outer #remaining-container #profile-icon {
    display: inline-block;
    color: #B4B4B4;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 25px;
    position: absolute;
}

/* ----------------------------------------------- */