img {
    max-width: 25em;
    max-height: 50em;
    margin: 20px;
}

body {
    background-color: black;
}

h1, h2 {
    color: antiquewhite;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

#creative-names {
    text-align: center;
    color: white;
}