body {
  margin: 0;
  line-height: normal;
}

.sky-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
  height: 47.99rem;
  overflow: hidden;
}

.adis-website-wireframe-child {
  position: absolute;
  top: 47.81rem;
  left: 0;
  background-color: #15282f;
  width: 90rem;
  height: 288.5rem;
}

.title-planets-icon {
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 90rem;
  height: 26.77rem;
  overflow: hidden;
}

.scene1-icon,
.scene2-icon,
.scene3-icon {
  position: absolute;
  top: 58.44rem;
  left: 7.25rem;
  width: 31.74rem;
  height: 32.75rem;
  object-fit: cover;
}

.scene2-icon,
.scene3-icon {
  top: 93.75rem;
  left: 35.44rem;
  width: 48.34rem;
  height: 29.94rem;
}

.scene3-icon {
  top: 126.25rem;
  left: 8.31rem;
  width: 38.98rem;
  height: 31.19rem;
}

.canopy-icon,
.log1-icon {
  position: absolute;
  left: 0;
  width: 90rem;
}

.canopy-icon {
  top: 17.66rem;
  height: 43.31rem;
  overflow: hidden;
}

.log1-icon {
  top: 160rem;
  height: 21.69rem;
}

.endpage-log-icon,
.log2-icon,
.vine-icon {
  position: absolute;
  top: 207.88rem;
  left: 0;
  width: 90rem;
  height: 17.76rem;
}

.endpage-log-icon,
.vine-icon {
  top: 267.56rem;
  height: 20.35rem;
}

.endpage-log-icon {
  top: 321.81rem;
  height: 14.5rem;
}

.scene4-icon {
  position: absolute;
  top: 234.13rem;
  left: 45rem;
  width: 35.8rem;
  height: 32.56rem;
  object-fit: cover;
}

.frame-icon {
  position: absolute;
  top: 9.25rem;
  left: 18.94rem;
  width: 52.13rem;
  height: 18.25rem;
  overflow: hidden;
}

.website-sketch-child,
.website-sketch-inner,
.website-sketch-item {
  position: absolute;
  top: 30.38rem;
  left: 20.31rem;
  background-color: var(--color-gainsboro);
  width: 11.38rem;
  height: 6rem;
}

.website-sketch-inner,
.website-sketch-item {
  left: 38.69rem;
}

.website-sketch-inner {
  left: 57.31rem;
}

.button,
.button1,
.button2 {
  position: absolute;
  top: 32rem;
  left: 22.56rem;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}

.button1,
.button2 {
  top: 32.19rem;
  left: 41.25rem;
}

.button2 {
  top: 32.13rem;
  left: 59.69rem;
}

.ellipse-icon {
  position: absolute;
  top: 4.56rem;
  left: 3.5rem;
  width: 9.19rem;
  height: 9.19rem;
}

.website-sketch-child1 {
  position: absolute;
  top: 2.63rem;
  left: 14.06rem;
  width: 3.94rem;
  height: 3.94rem;
}

.rectangle-div {
  position: absolute;
  top: 48.69rem;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 90rem;
  height: 257.56rem;
}

.website-sketch-child2,
.website-sketch-child3 {
  position: absolute;
  top: 36.69rem;
  left: -4.62rem;
  width: 14.44rem;
  height: 14.44rem;
}

.website-sketch-child3 {
  top: 42.38rem;
  left: 2.56rem;
}

.website-sketch-child4 {
  position: absolute;
  top: 60.13rem;
  left: 9.5rem;
  width: 30.25rem;
  height: 20.06rem;
}

.website-sketch-child5,
.website-sketch-child6,
.website-sketch-child7 {
  position: absolute;
  top: 85.75rem;
  left: 49rem;
  width: 30.25rem;
  height: 20.06rem;
}

.website-sketch-child6,
.website-sketch-child7 {
  top: 119.81rem;
  left: 10.56rem;
}

.website-sketch-child7 {
  top: 220.75rem;
  left: 47.06rem;
}

.the-learnathon-is {
  margin-block-start: 0;
  margin-block-end: 0;
}

.the-learnathon-is-container {
  border: 0;
  background-color: transparent;
  font-family: var(--content);
  font-size: var(--content-size);
  position: absolute;
  top: 91.13rem;
  left: 14.75rem;
  line-height: 1.25rem;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 22.63rem;
  height: 20.38rem;
}

.website-sketch-child8,
.website-sketch-child9 {
  position: absolute;
  top: 44.94rem;
  left: 14.88rem;
  width: 14.44rem;
  height: 14.44rem;
}

.website-sketch-child9 {
  left: 56.69rem;
}

.website-sketch-child10,
.website-sketch-child11,
.website-sketch-child12 {
  position: absolute;
  top: 41.31rem;
  left: 67.81rem;
  width: 14.44rem;
  height: 14.44rem;
}

.website-sketch-child11,
.website-sketch-child12 {
  left: 80.19rem;
}

.website-sketch-child12 {
  top: 31.94rem;
  left: 77.44rem;
}

.a-learnathon-is,
.anyone-we-especially-container,
.anyone-we-especially-container1 {
  position: absolute;
  top: 65.5rem;
  left: 50.94rem;
  font-size: var(--content-size);
  line-height: 1.25rem;
  display: inline-block;
  width: 26.38rem;
  height: 18.44rem;
}

.anyone-we-especially-container,
.anyone-we-especially-container1 {
  top: 122.69rem;
  left: 52rem;
  width: 25.75rem;
  height: 11.38rem;
}

.anyone-we-especially-container1 {
  top: 225.13rem;
  left: 12.56rem;
}

.scheldule {
  position: absolute;
  top: 177.5rem;
  left: 34.38rem;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
}

.website-sketch-child13,
.website-sketch-child14 {
  position: absolute;
  top: 160.6rem;
  left: -6.66rem;
  background-color: var(--color-dimgray);
  width: 105.31rem;
  height: 10.4rem;
  transform: rotate(-13.49deg);
  transform-origin: 0 0;
}

.website-sketch-child14 {
  top: 196.44rem;
  left: -6.13rem;
  background-color: var(--color-darkgray);
  transform: rotate(4.73deg);
}

.website-sketch {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 90rem;
  height: 306.25rem;
  overflow: hidden;
  display: none;
  font-size: var(--font-size-lg);
}

.a-learnathon-is1 {
  position: absolute;
  top: 66.38rem;
  left: 50.38rem;
  line-height: 1.25rem;
  display: inline-block;
  width: 26.38rem;
  height: 18.44rem;
}

.anyone-we-especially-container2,
.anyone-we-especially-container3 {
  position: absolute;
  top: 138.44rem;
  left: 54.5rem;
  line-height: 1.25rem;
  display: inline-block;
  width: 25.75rem;
  height: 11.38rem;
}

.anyone-we-especially-container3 {
  top: 244.5rem;
  left: 11.75rem;
}

.scheldule1 {
  position: absolute;
  top: 181.69rem;
  left: 42.31rem;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
}

.adis-website-wireframe {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 336.31rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--content-size);
  color: var(--color-white);
  font-family: var(--content);
}