html {
  height: 100%;
  width: 100%;
}

p, h2 {
  color: white;
  font-family:'Poppins';
}

h3, .title {
  font-family:'Poppins';
  font-weight: bold;
  font-size: 27px;
  color:#BFDFDC;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}

p {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 18px;
}

.title-center {
  font-family:'Poppins';
  font-weight: bold;
  font-size: 25px;
  color:#BFDFDC;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

a:link {
  text-decoration: underline;
}

.faq-title {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  color:#a8dfff;
  font-size: 20px;
}


