:root {
  /* fonts */
  --content: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --content-size: 1rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  /* Colors */
  --color-white: #fff;
  --color-skyblue: #80bee1;
  --color-darkgray: #8c9f90;
  --color-dimgray: #6a6149;
  --color-darkslategray: #213723;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
}

/* Media query for screens less than 960px */
@media screen and (max-width: 960px) {
  .adis-website-wireframe {
    display: none;
  }
}

/* Media query for screens greater than 960px */
@media screen and (min-width: 960px) {
  :root {
    /* fonts */
    --content: Roboto;

    /* font sizes */
    --font-size-sm: 10.29px;
    --content-size: 16px;

    /* Colors */
    --color-white: #fff;
  }
  
  .trishs-mobile-responsive-wire {
    display: none;
  }
}