#toasts.svelte-d59je3 {
    display:flex;
    flex-direction:column;
    gap:.5rem;
    position:fixed;
    bottom:0;
    right:0;
    width:100%;
    max-width:425px;
    margin:0;
    padding:1rem;
    z-index:100;
    list-style:none
  }
  .toast.svelte-d59je3 {
    position:relative;
    width:100%;
    padding:1rem;
    background-color:#fff;
    border:2px solid #000
  }
  .loader.svelte-pzrc1t {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%
  }
  .loader.svelte-pzrc1t:after {
    content:"";
    display:inline-block;
    width:var(--loader-size,8rem);
    height:var(--loader-size,8rem);
    border-radius:50%;
    border:.75rem solid var(--loader-color,#f69d9d);
    border-top-color:transparent;
    animation:svelte-pzrc1t-loader-spin .8s linear infinite
  }
  @keyframes svelte-pzrc1t-loader-spin {
    0% {
      transform:rotate(0)
    }
    to {
      transform:rotate(360deg)
    }
  }
  #mlh-trust-badge.svelte-6afqtj.svelte-6afqtj {
    z-index:2;
    position:absolute;
    display:block;
    right:15px;
    top:56px;
    width:calc(4vw + 3rem)
  }
  #mlh-badge-image.svelte-6afqtj.svelte-6afqtj {
    width:100%
  }
  footer.svelte-6afqtj.svelte-6afqtj {
    background-color:#404040
  }
  .footer-flex.svelte-6afqtj.svelte-6afqtj {
    display:flex;
    justify-content:space-around;
    margin:auto;
    max-width:75em;
    color:#f2ebd9
  }
  .login.svelte-6afqtj.svelte-6afqtj {
    color:#e1563f
  }
  .made-with-love.svelte-6afqtj.svelte-6afqtj {
    white-space:nowrap;
    align-self:center
  }
  .freetail-link.svelte-6afqtj.svelte-6afqtj {
    color:#e1563f;
    text-decoration:underline
  }
  .flex-column.svelte-6afqtj.svelte-6afqtj {
    display:flex;
    flex-direction:column;
    font-size:14px
  }
  a.svelte-6afqtj.svelte-6afqtj {
    color:#f2ebd9;
    text-decoration:none;
    line-height:1.5
  }
  button.svelte-6afqtj.svelte-6afqtj {
    color:#e1563f;
    text-decoration:none;
    line-height:1.5;
    padding-left:1rem;
    padding-right:1rem
  }
  a.svelte-6afqtj.svelte-6afqtj:hover,
  button.svelte-6afqtj.svelte-6afqtj:hover {
    text-decoration-line:underline;
    text-decoration-color:var(--primary-accent);
    color:var(--primary-accent)
  }
  .category.svelte-6afqtj.svelte-6afqtj {
    font-size:17px
  }
  label.svelte-6afqtj.svelte-6afqtj {
    display:flex;
    font-family:Geologica,sans-serif;
    font-weight:700;
    font-style:normal;
    text-transform:uppercase;
    color:#f2ebd9
  }
  #hamburger-logo.svelte-6afqtj.svelte-6afqtj {
    display:block;
    height:2rem;
    padding-right:1rem;
    padding-left:1rem
  }
  #menu-logo.svelte-6afqtj.svelte-6afqtj {
    display:none
  }
  button.svelte-6afqtj.svelte-6afqtj {
    background-color:#404040;
    text-transform:uppercase;
    font-family:Geologica,sans-serif;
    font-weight:700
  }
  nav.svelte-6afqtj.svelte-6afqtj {
    position:fixed;
    top:0;
    margin:0;
    width:100vw;
    background-color:#404040;
    z-index:99
  }
  menu.svelte-6afqtj.svelte-6afqtj {
    list-style:none;
    margin:0;
    padding:0;
    transition:all .5s ease-out;
    background-color:#404040;
    max-height:0;
    overflow:hidden;
    width:100%;
    font-family:Geologica,sans-serif;
    font-size:15px;
    font-weight:700;
    font-style:normal;
    text-transform:uppercase
  }
  #hamburger.svelte-6afqtj.svelte-6afqtj {
    display:flex;
    width:100%;
    padding-top:.7rem;
    padding-bottom:.7rem;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:nowrap;
    flex-direction:row
  }
  #hamburgerCheckbox.svelte-6afqtj:checked+menu.svelte-6afqtj {
    display:flex;
    flex-direction:column;
    max-height:100vh
  }
  menu.svelte-6afqtj a.svelte-6afqtj {
    display:block;
    width:100%;
    padding:.7rem 1rem;
    color:#f2ebd9;
    text-decoration:none
  }
  menu.svelte-6afqtj a.svelte-6afqtj:hover,
  button.svelte-6afqtj.svelte-6afqtj:hover {
    background-color:#303030
  }
  .active.svelte-6afqtj.svelte-6afqtj {
    font-weight:700;
    text-decoration:underline
  }
  @media(max-width:768px) {
    .flex-column.svelte-6afqtj.svelte-6afqtj {
      display:none
    }
    .footer-flex.svelte-6afqtj.svelte-6afqtj {
      max-width:60vw
    }
  }
  @media(max-width:1090px) {
    .button.svelte-6afqtj.svelte-6afqtj {
      display:flex;
      width:100%;
      padding-top:.3rem;
      padding-bottom:.7rem;
      padding-left:1rem;
      justify-content:flex-start;
      flex-wrap:nowrap;
      flex-direction:row
    }
    #mlh-trust-badge.svelte-6afqtj.svelte-6afqtj {
      top:42.2px
    }
  }
  @media(min-width:1090px) {
    #hamburger-logo.svelte-6afqtj.svelte-6afqtj {
      display:none
    }
    #menu-logo.svelte-6afqtj.svelte-6afqtj {
      display:block;
      height:40px
    }
    #hamburger.svelte-6afqtj.svelte-6afqtj {
      display:none
    }
    menu.svelte-6afqtj.svelte-6afqtj {
      margin:0;
      padding-top:.5rem;
      padding-bottom:.5rem;
      display:flex;
      justify-content:space-around;
      max-height:fit-content;
      align-items:center
    }
    menu.svelte-6afqtj a.svelte-6afqtj:hover,
    button.svelte-6afqtj.svelte-6afqtj:hover {
      border-radius:5px
    }
    menu.svelte-6afqtj a.svelte-6afqtj {
      display:inline;
      width:initial;
      text-decoration:none
    }
  }
  .overlay.svelte-6afqtj.svelte-6afqtj {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:#0000000d;
    display:flex;
    justify-content:center;
    align-items:center
  }
  