/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ruddy:
 *   - http://typekit.com/eulas/00000000000000007735ebc6
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-08-02 00:04:49 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nzn4fpd&ht=tk&f=47456&a=127707581&app=typekit&e=css");

@font-face {
font-family:"ruddy";
src:url("https://use.typekit.net/af/7eae5a/00000000000000007735ebc6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7eae5a/00000000000000007735ebc6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7eae5a/00000000000000007735ebc6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-ruddy { font-family: "ruddy",sans-serif; }
